.test {
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 7px 7px #1976d25f;
  border: 1px solid #ccc;
  display: flex;
  flex-flow: column nowrap;
}

.img {
  width: 400px;
  padding-bottom: 0.3rem;
}

.testP {
  padding-bottom: 0.3rem;
}
